<a href="https://colab.research.google.com/github/andersongiulliano/curso_extensao_pandas/blob/main/PrimeiroExemploEmPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeiro exemplo de manipulação de dados usando Python Pandas**

**Manutenção de veículos da UFRN**

Autor: Anderson Giulliano Silva Gomes

Data: 06 de fevereiro de 2023

In [20]:
# importando biblioteca pandas no python

import pandas as pd

man_df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/man_veic.xlsx")

In [21]:
#Está é a planilha base

display(man_df)

,Ordem de Servico,DataOS,Marca,Modelo,Placa,Cidade,Unidade,Situacao,Oficina,ValorPecas,ValorMaoDeObra,ValorTotal,AbertoPor
0,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,FINALIZADA,LIMPAUTO NATAL,47.15,35.0,82.15,NaN
1,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R E T SERVICOS AUTOMOTIVOS,52.90,45.0,97.90,NaN
2,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,TDR CENTRO AUTOMOTIVO DE PECAS,50.50,40.0,90.50,NaN
3,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,PARNAMIRIM,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R7 DIESEL PECAS E SERVICOS,0.00,0.0,0.00,NaN
4,5355.0,2022-09-06 14:25:01.390,FIAT,DOBLO ESSENCE 1.8,OWD-8786,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,FINALIZADA,R E T SERVICOS AUTOMOTIVOS,415.41,180.0,595.41,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9928,5436.0,2022-09-28 16:15:22.750,VOLKSWAGEN,AMAROK CD 4X4 S,QGE-7950,NATAL,CENTRO DE BIOCIÊNCIAS,NEGADA,DIVE GENESIS,0.00,0.0,0.00,NaN
9929,5436.0,2022-09-28 16:15:22.750,VOLKSWAGEN,AMAROK CD 4X4 S,QGE-7950,NATAL,CENTRO DE BIOCIÊNCIAS,NEGADA,DIESELMEC,0.00,0.0,0.00,NaN
9930,5436.0,2022-09-28 16:15:22.750,VOLKSWAGEN,AMAROK CD 4X4 S,QGE-7950,NATAL,CENTRO DE BIOCIÊNCIAS,NEGADA,DCP DISTRIBUICAO E COMERCIO DE PECAS,0.00,0.0,0.00,NaN
9931,5436.0,2022-09-28 16:15:22.750,VOLKSWAGEN,AMAROK CD 4X4 S,QGE-7950,NATAL,CENTRO DE BIOCIÊNCIAS,NEGADA,DANKAR CENTRO AUTOMOTIVO,0.00,0.0,0.00,NaN
9932,5436.0,2022-09-28 16:15:22.750,VOLKSWAGEN,AMAROK CD 4X4 S,QGE-7950,NATAL,CENTRO DE BIOCIÊNCIAS,NEGADA,Cyro Cavalcanti,0.00,0.0,0.00,NaN

In [22]:
#Treinando a função HEAD

display(man_df.head(15))

,Ordem de Servico,DataOS,Marca,Modelo,Placa,Cidade,Unidade,Situacao,Oficina,ValorPecas,ValorMaoDeObra,ValorTotal,AbertoPor
0,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,FINALIZADA,LIMPAUTO NATAL,47.15,35.0,82.15,NaN
1,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R E T SERVICOS AUTOMOTIVOS,52.90,45.0,97.90,NaN
2,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,TDR CENTRO AUTOMOTIVO DE PECAS,50.50,40.0,90.50,NaN
3,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,PARNAMIRIM,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R7 DIESEL PECAS E SERVICOS,0.00,0.0,0.00,NaN
4,5355.0,2022-09-06 14:25:01.390,FIAT,DOBLO ESSENCE 1.8,OWD-8786,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,FINALIZADA,R E T SERVICOS AUTOMOTIVOS,415.41,180.0,595.41,NaN
5,5355.0,2022-09-06 14:25:01.390,FIAT,DOBLO ESSENCE 1.8,OWD-8786,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,TDR CENTRO AUTOMOTIVO DE PECAS,484.00,240.0,724.00,NaN
6,5355.0,2022-09-06 14:25:01.390,FIAT,DOBLO ESSENCE 1.8,OWD-8786,PARNAMIRIM,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R7 DIESEL PECAS E SERVICOS,515.41,200.0,715.41,NaN
7,5613.0,2022-11-22 09:35:04.770,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,FINALIZADA,LIMPAUTO NATAL,340.00,0.0,340.00,NaN
8,5613.0,2022-11-22 09:35:04.770,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,TDR CENTRO AUTOMOTIVO DE PECAS,390.50,50.0,440.50,NaN
9,5613.0,2022-11-22 09:35:04.770,FIAT,LINEA,QGD-3761,PARNAMIRIM,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R7 DIESEL PECAS E SERVICOS,408.39,0.0,408.39,NaN
10,5613.0,2022-11-22 09:35:04.770,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R E T SERVICOS AUTOMOTIVOS,0.00,0.0,0.00,NaN
11,4920.0,2022-06-02 10:27:26.707,CHEVROLET,SPIN 1.8,QGE-8987,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",FINALIZADA,TDR CENTRO AUTOMOTIVO DE PECAS,62.00,150.0,212.00,NaN
12,4920.0,2022-06-02 10:27:26.707,CHEVROLET,SPIN 1.8,QGE-8987,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",NEGADA,R E T SERVICOS AUTOMOTIVOS,54.00,180.0,234.00,NaN
13,4920.0,2022-06-02 10:27:26.707,CHEVROLET,SPIN 1.8,QGE-8987,PARNAMIRIM,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",NEGADA,R7 DIESEL PECAS E SERVICOS,60.00,180.0,240.00,NaN
14,5138.0,2022-07-26 11:54:49.697,VOLKSWAGEN,GOL,JKO-7291,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",FINALIZADA,LIMPAUTO NATAL,0.00,400.0,400.00,NaN

In [23]:
# Comandos Dataframe.shape e Dataframe.describe()

print(man_df.describe())

       Ordem de Servico    ValorPecas  ValorMaoDeObra    ValorTotal  AbertoPor
count       9933.000000   9933.000000     9933.000000   9933.000000        0.0
mean        5118.990537    352.427344      255.173092    607.600436        NaN
std          372.474689   1177.163854      891.082707   1588.121660        NaN
min         3679.000000      0.000000        0.000000      0.000000        NaN
25%         4791.000000      0.000000        0.000000      0.000000        NaN
50%         5140.000000      0.000000        0.000000      0.000000        NaN
75%         5455.000000      7.500000      120.000000    431.000000        NaN
max         5757.000000  39000.000000    22680.000000  39000.000000        NaN

In [24]:
print(man_df.shape)

(9933, 13)

In [25]:
print(man_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9933 entries, 0 to 9932
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ordem de Servico  9933 non-null   float64
 1   DataOS            9933 non-null   datetime64[ns]
 2   Marca             9933 non-null   object
 3   Modelo            9933 non-null   object
 4   Placa             9933 non-null   object
 5   Cidade            9933 non-null   object
 6   Unidade           9933 non-null   object
 7   Situacao          9933 non-null   object
 8   Oficina           9933 non-null   object
 9   ValorPecas        9933 non-null   float64
 10  ValorMaoDeObra    9933 non-null   float64
 11  ValorTotal        9933 non-null   float64
 12  AbertoPor         0 non-null      float64
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 1008.9+ KB
None

In [26]:
display(man_df['ValorPecas'])

0        47.15
1        52.90
2        50.50
3         0.00
4       415.41
         ...
9928      0.00
9929      0.00
9930      0.00
9931      0.00
9932      0.00
Name: ValorPecas, Length: 9933, dtype: float64

In [27]:
display(man_df['ValorMaoDeObra'])

0        35.0
1        45.0
2        40.0
3         0.0
4       180.0
        ...
9928      0.0
9929      0.0
9930      0.0
9931      0.0
9932      0.0
Name: ValorMaoDeObra, Length: 9933, dtype: float64

In [28]:
display(man_df['Situacao'])

0       FINALIZADA
1           NEGADA
2           NEGADA
3           NEGADA
4       FINALIZADA
           ...
9928        NEGADA
9929        NEGADA
9930        NEGADA
9931        NEGADA
9932        NEGADA
Name: Situacao, Length: 9933, dtype: object

In [ ]:
man_df = man_df[['Ordem de Servico','Cidade','Unidade','Oficina','Situacao','ValorPecas','ValorMaoDeObra']]
display(man_df)

In [30]:
display(man_df.loc[3])

Ordem de Servico                         4554.0
Cidade                               PARNAMIRIM
Unidade             CENTRO DE CIÊNCIAS DA SAÚDE
Oficina              R7 DIESEL PECAS E SERVICOS
Situacao                                 NEGADA
ValorPecas                                  0.0
ValorMaoDeObra                              0.0
Name: 3, dtype: object

In [31]:
#Exibir da 10a. linha até a 20a.linha
display(man_df.loc[9:19])

,Ordem de Servico,Cidade,Unidade,Oficina,Situacao,ValorPecas,ValorMaoDeObra
9,5613.0,PARNAMIRIM,CENTRO DE CIÊNCIAS DA SAÚDE,R7 DIESEL PECAS E SERVICOS,NEGADA,408.39,0.0
10,5613.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,R E T SERVICOS AUTOMOTIVOS,NEGADA,0.00,0.0
11,4920.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,62.00,150.0
12,4920.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",R E T SERVICOS AUTOMOTIVOS,NEGADA,54.00,180.0
13,4920.0,PARNAMIRIM,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",R7 DIESEL PECAS E SERVICOS,NEGADA,60.00,180.0
14,5138.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",LIMPAUTO NATAL,FINALIZADA,0.00,400.0
15,5138.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",R E T SERVICOS AUTOMOTIVOS,NEGADA,0.00,480.0
16,5138.0,PARNAMIRIM,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",R7 DIESEL PECAS E SERVICOS,NEGADA,0.00,0.0
17,5138.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",TDR CENTRO AUTOMOTIVO DE PECAS,NEGADA,0.00,560.0
18,5679.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",R E T SERVICOS AUTOMOTIVOS,FINALIZADA,6.00,500.0
19,5679.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",TDR CENTRO AUTOMOTIVO DE PECAS,NEGADA,8.00,560.0

In [49]:
# Criar um dataframe finalizadas_df contendo 
# apenas linhas com situação FINALIZADA e exibir na tela
finalizadas_df = man_df.loc[man_df['Situacao'] == 'FINALIZADA']
display(finalizadas_df)

,Ordem de Servico,Cidade,Unidade,Oficina,Situacao,ValorPecas,ValorMaoDeObra
0,4554.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,LIMPAUTO NATAL,FINALIZADA,47.15,35.00
4,5355.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,R E T SERVICOS AUTOMOTIVOS,FINALIZADA,415.41,180.00
7,5613.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,LIMPAUTO NATAL,FINALIZADA,340.00,0.00
11,4920.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,62.00,150.00
14,5138.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",LIMPAUTO NATAL,FINALIZADA,0.00,400.00
...,...,...,...,...,...,...,...
9827,4469.0,PARNAMIRIM,DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA,R7 DIESEL PECAS E SERVICOS,FINALIZADA,0.00,1233.33
9830,4546.0,NATAL,DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA,CENTRAL AUTO PEÇAS,FINALIZADA,350.00,0.00
9834,5004.0,PARNAMIRIM,DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA,PAIZAO ACESSORIOS,FINALIZADA,535.60,200.00
9838,5067.0,NATAL,DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA,AUTO ELÉTRICA FELIPECAS,FINALIZADA,300.00,263.00
9842,5239.0,NATAL,DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA,HC PNEUS NATAL,FINALIZADA,984.00,49.00

In [33]:
pecas_max = (finalizadas_df['ValorPecas'].max())
print('A maior nota fiscal de peças tem o valor de R$ {}'.format(pecas_max))

servico_max = (finalizadas_df['ValorMaoDeObra'].max())
print('A maior nota fiscal de serviços tem o valor de R$ {}'.format(servico_max))

A maior nota fiscal de peças tem o valor de R$ 10614.0
A maior nota fiscal de serviços tem o valor de R$ 14300.0

In [ ]:
#DataFrame.loc[] com múltiplas condições para filtragem
#Quais são os valores de peças e serviços que a unidade Sup. de Infraestrutura fez na oficina TDR CENTRO AUTOMOTIVO DE PECAS
#ordenado do menor valor de venda para o maior


sin_df = finalizadas_df.loc[(finalizadas_df['Unidade'] == 'SUPERINTENDÊNCIA DE INFRAESTRUTURA') & (finalizadas_df['Oficina'] == 'TDR CENTRO AUTOMOTIVO DE PECAS')]
display(sin_df.sort_values(by='ValorPecas'))

In [58]:
# Qual a média de gastos com peças em Natal e Parnamirim nos veiculos da PRÓ-REITORIA DE ADMINISTRAÇÃO (PROAD)?

#PERGUNTAR AO PROFESSOR SOBRE ERRO NO PRINT QUANDO NÃO SE COLOCA O FLOAT

gastos_proad = float(finalizadas_df.loc[(finalizadas_df['Unidade'] == 'PRÓ-REITORIA DE ADMINISTRAÇÃO (PROAD)') & ((finalizadas_df['Cidade'] == "NATAL") | (finalizadas_df['Cidade'] == "PARNAMIRIM")) , ['ValorPecas']].mean())

display(gastos_proad)

print(f'A média de gastos com peças pela unidade PROAD foi de R$ {gastos_proad:.2f}')

772.9832857142858

A média de gastos com peças pela unidade PROAD foi de R$ 772.98

In [63]:
# Qual a média de gastos com peças em Natal e Parnamirim nos veiculos da PRÓ-REITORIA DE ADMINISTRAÇÃO (PROAD)?

gastos_proad2= float(finalizadas_df.loc[(finalizadas_df['Unidade'] == 'PRÓ-REITORIA DE ADMINISTRAÇÃO (PROAD)') & (finalizadas_df['Cidade'].isin(["NATAL","PARNAMIRIM"])), ['ValorPecas']].mean())

display(gastos_proad2)

print(f'A média de gastos com peças pela unidade PROAD foi de R$ {gastos_proad2:.2f}')

772.9832857142858

A média de gastos com peças pela unidade PROAD foi de R$ 772.98

In [ ]:
# Como mostrar soma de valor de PEÇAS E SERVIÇOS por UNIDADE
soma_unidade_df = finalizadas_df[['Unidade','ValorPecas', 'ValorMaoDeObra','Oficina']].groupby(by='Unidade').sum().round(2)
display(soma_unidade_df)

In [ ]:
# Como mostrar média de valor de PEÇAS E SERVIÇOS POR OFICINA?
media_por_oficina_df = finalizadas_df[['ValorPecas', 'ValorMaoDeObra','Oficina']].groupby(by='Oficina').mean().round(2)
display(media_por_oficina_df)

In [50]:
#Quero adicionar uma coluna de valor booleano em finalizadas_df
# chamada "Veículo consertado" que, por padrão, vai ser True para 
# TODAS as linhas
finalizadas_df['Veículo consertado'] = True 
print(finalizadas_df.info())
display(finalizadas_df.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1165 entries, 0 to 9842
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ordem de Servico    1165 non-null   float64
 1   Cidade              1165 non-null   object
 2   Unidade             1165 non-null   object
 3   Oficina             1165 non-null   object
 4   Situacao            1165 non-null   object
 5   ValorPecas          1165 non-null   float64
 6   ValorMaoDeObra      1165 non-null   float64
 7   Veículo consertado  1165 non-null   bool
dtypes: bool(1), float64(3), object(4)
memory usage: 74.0+ KB
None

<ipython-input-50-edc771e4bf4e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalizadas_df['Veículo consertado'] = True

,Ordem de Servico,Cidade,Unidade,Oficina,Situacao,ValorPecas,ValorMaoDeObra,Veículo consertado
0,4554.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,LIMPAUTO NATAL,FINALIZADA,47.15,35.0,True
4,5355.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,R E T SERVICOS AUTOMOTIVOS,FINALIZADA,415.41,180.0,True
7,5613.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,LIMPAUTO NATAL,FINALIZADA,340.00,0.0,True
11,4920.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,62.00,150.0,True
14,5138.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",LIMPAUTO NATAL,FINALIZADA,0.00,400.0,True

In [ ]:
finalizadas_df[['Oficina']].value_counts()

In [ ]:
total_pecas = finalizadas_df['ValorPecas'].sum()
print(f'O total de gasto com peças foi de {total_pecas:.2f}')
total_pecas = finalizadas_df['ValorMaoDeObra'].sum()
print(f'O total de gasto com serviços foi de {total_pecas:.2f}')

In [51]:
# Exportar para Excel o dataframe com etanol em Indaiatuba....
finalizadas_df.to_excel('finalizadas.xlsx', sheet_name='Notas finalizadas', index='FALSE')