<a href="https://colab.research.google.com/github/andersongiulliano/curso_extensao_pandas/blob/main/PrimeiroExemploEmPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeiro exemplo de manipulação de dados usando Python Pandas**

**Manutenção de veículos da UFRN**

Autor: Anderson Giulliano Silva Gomes

Data: 06 de fevereiro de 2023

In [20]:
# importando biblioteca pandas no python

import pandas as pd

man_df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/man_veic.xlsx")

In [21]:
display(man_df)

,Ordem de Servico,DataOS,Marca,Modelo,Placa,Cidade,Unidade,Situacao,Oficina,ValorPecas,ValorMaoDeObra,ValorTotal,AbertoPor
0,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,FINALIZADA,LIMPAUTO NATAL,47.15,35.0,82.15,NaN
1,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R E T SERVICOS AUTOMOTIVOS,52.90,45.0,97.90,NaN
2,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,TDR CENTRO AUTOMOTIVO DE PECAS,50.50,40.0,90.50,NaN
3,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,PARNAMIRIM,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R7 DIESEL PECAS E SERVICOS,0.00,0.0,0.00,NaN
4,5355.0,2022-09-06 14:25:01.390,FIAT,DOBLO ESSENCE 1.8,OWD-8786,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,FINALIZADA,R E T SERVICOS AUTOMOTIVOS,415.41,180.0,595.41,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9928,5436.0,2022-09-28 16:15:22.750,VOLKSWAGEN,AMAROK CD 4X4 S,QGE-7950,NATAL,CENTRO DE BIOCIÊNCIAS,NEGADA,DIVE GENESIS,0.00,0.0,0.00,NaN
9929,5436.0,2022-09-28 16:15:22.750,VOLKSWAGEN,AMAROK CD 4X4 S,QGE-7950,NATAL,CENTRO DE BIOCIÊNCIAS,NEGADA,DIESELMEC,0.00,0.0,0.00,NaN
9930,5436.0,2022-09-28 16:15:22.750,VOLKSWAGEN,AMAROK CD 4X4 S,QGE-7950,NATAL,CENTRO DE BIOCIÊNCIAS,NEGADA,DCP DISTRIBUICAO E COMERCIO DE PECAS,0.00,0.0,0.00,NaN
9931,5436.0,2022-09-28 16:15:22.750,VOLKSWAGEN,AMAROK CD 4X4 S,QGE-7950,NATAL,CENTRO DE BIOCIÊNCIAS,NEGADA,DANKAR CENTRO AUTOMOTIVO,0.00,0.0,0.00,NaN
9932,5436.0,2022-09-28 16:15:22.750,VOLKSWAGEN,AMAROK CD 4X4 S,QGE-7950,NATAL,CENTRO DE BIOCIÊNCIAS,NEGADA,Cyro Cavalcanti,0.00,0.0,0.00,NaN

In [22]:
display(man_df.head(15))

,Ordem de Servico,DataOS,Marca,Modelo,Placa,Cidade,Unidade,Situacao,Oficina,ValorPecas,ValorMaoDeObra,ValorTotal,AbertoPor
0,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,FINALIZADA,LIMPAUTO NATAL,47.15,35.0,82.15,NaN
1,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R E T SERVICOS AUTOMOTIVOS,52.90,45.0,97.90,NaN
2,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,TDR CENTRO AUTOMOTIVO DE PECAS,50.50,40.0,90.50,NaN
3,4554.0,2022-03-24 15:14:57.400,FIAT,LINEA,QGD-3761,PARNAMIRIM,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R7 DIESEL PECAS E SERVICOS,0.00,0.0,0.00,NaN
4,5355.0,2022-09-06 14:25:01.390,FIAT,DOBLO ESSENCE 1.8,OWD-8786,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,FINALIZADA,R E T SERVICOS AUTOMOTIVOS,415.41,180.0,595.41,NaN
5,5355.0,2022-09-06 14:25:01.390,FIAT,DOBLO ESSENCE 1.8,OWD-8786,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,TDR CENTRO AUTOMOTIVO DE PECAS,484.00,240.0,724.00,NaN
6,5355.0,2022-09-06 14:25:01.390,FIAT,DOBLO ESSENCE 1.8,OWD-8786,PARNAMIRIM,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R7 DIESEL PECAS E SERVICOS,515.41,200.0,715.41,NaN
7,5613.0,2022-11-22 09:35:04.770,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,FINALIZADA,LIMPAUTO NATAL,340.00,0.0,340.00,NaN
8,5613.0,2022-11-22 09:35:04.770,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,TDR CENTRO AUTOMOTIVO DE PECAS,390.50,50.0,440.50,NaN
9,5613.0,2022-11-22 09:35:04.770,FIAT,LINEA,QGD-3761,PARNAMIRIM,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R7 DIESEL PECAS E SERVICOS,408.39,0.0,408.39,NaN
10,5613.0,2022-11-22 09:35:04.770,FIAT,LINEA,QGD-3761,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,NEGADA,R E T SERVICOS AUTOMOTIVOS,0.00,0.0,0.00,NaN
11,4920.0,2022-06-02 10:27:26.707,CHEVROLET,SPIN 1.8,QGE-8987,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",FINALIZADA,TDR CENTRO AUTOMOTIVO DE PECAS,62.00,150.0,212.00,NaN
12,4920.0,2022-06-02 10:27:26.707,CHEVROLET,SPIN 1.8,QGE-8987,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",NEGADA,R E T SERVICOS AUTOMOTIVOS,54.00,180.0,234.00,NaN
13,4920.0,2022-06-02 10:27:26.707,CHEVROLET,SPIN 1.8,QGE-8987,PARNAMIRIM,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",NEGADA,R7 DIESEL PECAS E SERVICOS,60.00,180.0,240.00,NaN
14,5138.0,2022-07-26 11:54:49.697,VOLKSWAGEN,GOL,JKO-7291,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",FINALIZADA,LIMPAUTO NATAL,0.00,400.0,400.00,NaN

In [23]:
# Comandos Dataframe.shape e Dataframe.describe()

print(man_df.describe())

       Ordem de Servico    ValorPecas  ValorMaoDeObra    ValorTotal  AbertoPor
count       9933.000000   9933.000000     9933.000000   9933.000000        0.0
mean        5118.990537    352.427344      255.173092    607.600436        NaN
std          372.474689   1177.163854      891.082707   1588.121660        NaN
min         3679.000000      0.000000        0.000000      0.000000        NaN
25%         4791.000000      0.000000        0.000000      0.000000        NaN
50%         5140.000000      0.000000        0.000000      0.000000        NaN
75%         5455.000000      7.500000      120.000000    431.000000        NaN
max         5757.000000  39000.000000    22680.000000  39000.000000        NaN

In [24]:
print(man_df.shape)

(9933, 13)

In [25]:
print(man_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9933 entries, 0 to 9932
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ordem de Servico  9933 non-null   float64
 1   DataOS            9933 non-null   datetime64[ns]
 2   Marca             9933 non-null   object
 3   Modelo            9933 non-null   object
 4   Placa             9933 non-null   object
 5   Cidade            9933 non-null   object
 6   Unidade           9933 non-null   object
 7   Situacao          9933 non-null   object
 8   Oficina           9933 non-null   object
 9   ValorPecas        9933 non-null   float64
 10  ValorMaoDeObra    9933 non-null   float64
 11  ValorTotal        9933 non-null   float64
 12  AbertoPor         0 non-null      float64
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 1008.9+ KB
None

In [26]:
display(man_df['ValorPecas'])

0        47.15
1        52.90
2        50.50
3         0.00
4       415.41
         ...
9928      0.00
9929      0.00
9930      0.00
9931      0.00
9932      0.00
Name: ValorPecas, Length: 9933, dtype: float64

In [27]:
display(man_df['ValorMaoDeObra'])

0        35.0
1        45.0
2        40.0
3         0.0
4       180.0
        ...
9928      0.0
9929      0.0
9930      0.0
9931      0.0
9932      0.0
Name: ValorMaoDeObra, Length: 9933, dtype: float64

In [28]:
display(man_df['Situacao'])

0       FINALIZADA
1           NEGADA
2           NEGADA
3           NEGADA
4       FINALIZADA
           ...
9928        NEGADA
9929        NEGADA
9930        NEGADA
9931        NEGADA
9932        NEGADA
Name: Situacao, Length: 9933, dtype: object

In [29]:
man_df = man_df[['Ordem de Servico','Cidade','Unidade','Oficina','Situacao','ValorPecas','ValorMaoDeObra']]
display(man_df)

,Ordem de Servico,Cidade,Unidade,Oficina,Situacao,ValorPecas,ValorMaoDeObra
0,4554.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,LIMPAUTO NATAL,FINALIZADA,47.15,35.0
1,4554.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,R E T SERVICOS AUTOMOTIVOS,NEGADA,52.90,45.0
2,4554.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,TDR CENTRO AUTOMOTIVO DE PECAS,NEGADA,50.50,40.0
3,4554.0,PARNAMIRIM,CENTRO DE CIÊNCIAS DA SAÚDE,R7 DIESEL PECAS E SERVICOS,NEGADA,0.00,0.0
4,5355.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,R E T SERVICOS AUTOMOTIVOS,FINALIZADA,415.41,180.0
...,...,...,...,...,...,...,...
9928,5436.0,NATAL,CENTRO DE BIOCIÊNCIAS,DIVE GENESIS,NEGADA,0.00,0.0
9929,5436.0,NATAL,CENTRO DE BIOCIÊNCIAS,DIESELMEC,NEGADA,0.00,0.0
9930,5436.0,NATAL,CENTRO DE BIOCIÊNCIAS,DCP DISTRIBUICAO E COMERCIO DE PECAS,NEGADA,0.00,0.0
9931,5436.0,NATAL,CENTRO DE BIOCIÊNCIAS,DANKAR CENTRO AUTOMOTIVO,NEGADA,0.00,0.0
9932,5436.0,NATAL,CENTRO DE BIOCIÊNCIAS,Cyro Cavalcanti,NEGADA,0.00,0.0

In [30]:
display(man_df.loc[3])

Ordem de Servico                         4554.0
Cidade                               PARNAMIRIM
Unidade             CENTRO DE CIÊNCIAS DA SAÚDE
Oficina              R7 DIESEL PECAS E SERVICOS
Situacao                                 NEGADA
ValorPecas                                  0.0
ValorMaoDeObra                              0.0
Name: 3, dtype: object

In [31]:
#Exibir da 10a. linha até a 20a.linha
display(man_df.loc[9:19])

,Ordem de Servico,Cidade,Unidade,Oficina,Situacao,ValorPecas,ValorMaoDeObra
9,5613.0,PARNAMIRIM,CENTRO DE CIÊNCIAS DA SAÚDE,R7 DIESEL PECAS E SERVICOS,NEGADA,408.39,0.0
10,5613.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,R E T SERVICOS AUTOMOTIVOS,NEGADA,0.00,0.0
11,4920.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,62.00,150.0
12,4920.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",R E T SERVICOS AUTOMOTIVOS,NEGADA,54.00,180.0
13,4920.0,PARNAMIRIM,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",R7 DIESEL PECAS E SERVICOS,NEGADA,60.00,180.0
14,5138.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",LIMPAUTO NATAL,FINALIZADA,0.00,400.0
15,5138.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",R E T SERVICOS AUTOMOTIVOS,NEGADA,0.00,480.0
16,5138.0,PARNAMIRIM,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",R7 DIESEL PECAS E SERVICOS,NEGADA,0.00,0.0
17,5138.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",TDR CENTRO AUTOMOTIVO DE PECAS,NEGADA,0.00,560.0
18,5679.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",R E T SERVICOS AUTOMOTIVOS,FINALIZADA,6.00,500.0
19,5679.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",TDR CENTRO AUTOMOTIVO DE PECAS,NEGADA,8.00,560.0

In [49]:
# Criar um dataframe finalizadas_df contendo 
# apenas linhas com situação FINALIZADA e exibir na tela
finalizadas_df = man_df.loc[man_df['Situacao'] == 'FINALIZADA']
display(finalizadas_df)

,Ordem de Servico,Cidade,Unidade,Oficina,Situacao,ValorPecas,ValorMaoDeObra
0,4554.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,LIMPAUTO NATAL,FINALIZADA,47.15,35.00
4,5355.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,R E T SERVICOS AUTOMOTIVOS,FINALIZADA,415.41,180.00
7,5613.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,LIMPAUTO NATAL,FINALIZADA,340.00,0.00
11,4920.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,62.00,150.00
14,5138.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",LIMPAUTO NATAL,FINALIZADA,0.00,400.00
...,...,...,...,...,...,...,...
9827,4469.0,PARNAMIRIM,DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA,R7 DIESEL PECAS E SERVICOS,FINALIZADA,0.00,1233.33
9830,4546.0,NATAL,DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA,CENTRAL AUTO PEÇAS,FINALIZADA,350.00,0.00
9834,5004.0,PARNAMIRIM,DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA,PAIZAO ACESSORIOS,FINALIZADA,535.60,200.00
9838,5067.0,NATAL,DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA,AUTO ELÉTRICA FELIPECAS,FINALIZADA,300.00,263.00
9842,5239.0,NATAL,DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA,HC PNEUS NATAL,FINALIZADA,984.00,49.00

In [33]:
pecas_max = (finalizadas_df['ValorPecas'].max())
print('A maior nota fiscal de peças tem o valor de R$ {}'.format(pecas_max))

servico_max = (finalizadas_df['ValorMaoDeObra'].max())
print('A maior nota fiscal de serviços tem o valor de R$ {}'.format(servico_max))

A maior nota fiscal de peças tem o valor de R$ 10614.0
A maior nota fiscal de serviços tem o valor de R$ 14300.0

In [34]:
#DataFrame.loc[] com múltiplas condições para filtragem
#Quais são os valores de peças e serviços que a unidade Sup. de Infraestrutura fez na oficina TDR CENTRO AUTOMOTIVO DE PECAS
#ordenado do menor valor de venda para o maior


sin_df = finalizadas_df.loc[(finalizadas_df['Unidade'] == 'SUPERINTENDÊNCIA DE INFRAESTRUTURA') & (finalizadas_df['Oficina'] == 'TDR CENTRO AUTOMOTIVO DE PECAS')]
display(sin_df.sort_values(by='ValorPecas'))

,Ordem de Servico,Cidade,Unidade,Oficina,Situacao,ValorPecas,ValorMaoDeObra
243,5447.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,0.0,350.0
350,5195.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,0.0,120.0
7793,5445.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,0.0,1330.0
2981,4625.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,0.0,240.0
8219,4583.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,90.0,50.0
5847,4584.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,103.0,40.0
8220,4586.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,106.0,50.0
8344,4878.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,184.0,1970.0
8315,4689.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,295.0,50.0
473,4763.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,353.0,120.0
5781,4879.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,536.0,2150.0
2443,5446.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,545.0,130.0
5822,4492.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,584.0,60.0
8049,5124.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,753.0,70.0
5826,4521.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,834.0,120.0
5669,5331.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,1005.0,100.0
8099,5176.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,1008.0,180.0
425,4614.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,1504.0,160.0
5563,5448.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,1530.0,980.0
276,4917.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,1643.0,280.0
2723,4874.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,1998.0,320.0
8014,5010.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,2317.0,1790.0
5787,4890.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,2661.0,150.0
268,4880.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,3180.0,2630.0
7765,5330.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,3350.0,0.0
2588,5177.0,NATAL,SUPERINTENDÊNCIA DE INFRAESTRUTURA,TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,6250.0,550.0

In [58]:
# Qual a média de gastos com peças em Natal e Parnamirim nos veiculos da PRÓ-REITORIA DE ADMINISTRAÇÃO (PROAD)?

#PERGUNTAR AO PROFESSOR SOBRE ERRO NO PRINT QUANDO NÃO SE COLOCA O FLOAT

gastos_proad = float(finalizadas_df.loc[(finalizadas_df['Unidade'] == 'PRÓ-REITORIA DE ADMINISTRAÇÃO (PROAD)') & ((finalizadas_df['Cidade'] == "NATAL") | (finalizadas_df['Cidade'] == "PARNAMIRIM")) , ['ValorPecas']].mean())

display(gastos_proad)

print(f'A média de gastos com peças pela unidade PROAD foi de R$ {gastos_proad:.2f}')

772.9832857142858

A média de gastos com peças pela unidade PROAD foi de R$ 772.98

In [36]:
# Qual a média de gastos com peças em Natal e Parnamirim nos veiculos da PRÓ-REITORIA DE ADMINISTRAÇÃO (PROAD)?

gastos_proad2= float(finalizadas_df.loc[(finalizadas_df['Unidade'] == 'PRÓ-REITORIA DE ADMINISTRAÇÃO (PROAD)') & (finalizadas_df['Cidade'].isin(["NATAL","PARNAMIRIM"])), ['ValorPecas']].mean())

display(gastos_proad2)

772.9832857142858

In [59]:
# Como mostrar soma de valor de PEÇAS E SERVIÇOS por UNIDADE
soma_unidade_df = finalizadas_df[['Unidade','ValorPecas', 'ValorMaoDeObra','Oficina']].groupby(by='Unidade').sum().round(2)
display(soma_unidade_df)

                                                    ValorPecas  ValorMaoDeObra
Unidade
CENTRO DE  ENSINO SUPERIOR DO SERIDÓ                  16586.50         5286.00
CENTRO DE BIOCIÊNCIAS                                 16841.44        19090.58
CENTRO DE CIÊNCIAS DA SAÚDE                            9548.36         4648.40
CENTRO DE CIÊNCIAS EXATAS E DA TERRA                   6712.80         3226.00
CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES             5067.00         3750.87
CENTRO DE EDUCAÇÃO                                    25308.00        13391.00
CENTRO DE TECNOLOGIA                                  15084.30        19106.10
DAS/PROGESP                                            5957.50         3851.00
DDP/PROGESP                                            1975.29          540.00
DEPARTAMENTO DE ENFERMAGEM                            12593.00         5661.00
DEPARTAMENTO DE GEOFÍSICA                               265.00         1775.00
DEPARTAMENTO DE GEOLOGIA                              23831.75        30933.33
DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA             12771.13        11719.66
DEPARTAMENTO DE ODONTOLOGIA                            3622.00          530.00
DIRETORIA DE SEGURANÇA PATRIMONIAL                    15909.72         8172.50
DIRETORIA DO RESTAURANTE UNIVERSITÁRIO                 2692.82         1938.33
ESCOLA AGRÍCOLA DE JUNDIAÍ                           146161.42        40224.37
ESCOLA DE CIÊNCIAS E TECNOLOGIA                        6075.68          813.00
ESCOLA DE MÚSICA                                      28618.35        47433.98
ESCOLA DE SAÚDE                                        5343.96         2560.33
ESCOLA MULTICAMPI DE CIÊNCIAS MÉDICAS DO RIO          23363.67        23747.08
FACULDADE DE CIÊNCIAS DA SAÚDE DO TRAIRI - FACISA     27675.78        19928.56
FACULDADE DE ENGENHARIA, LETRAS E CIÊNCIAS SOCI...     7642.21         5288.00
GABINETE DO REITOR                                    17486.58         9303.24
INSTITUTO DO CÉREBRO                                   4882.14         5480.33
INSTITUTO INTERNACIONAL DE FÍSICA                      1879.95         1160.00
INSTITUTO METROPOLE DIGITAL                            6300.21          954.00
NÚCLEO DE EDUCAÇÃO DA INFÂNCIA                        18454.60         2161.40
NÚCLEO DE PESQUISA EM ALIMENTOS E MEDICAMENTOS         4272.60         3461.00
NÚCLEO PERMANENTE DE CONCURSOS                          104.80          220.00
PROAD - DIRETORIA DE MATERIAL E PATRIMÔNIO            23255.62        26536.68
PRÓ-REITORIA DE ADMINISTRAÇÃO (PROAD)                237393.15       214298.69
PRÓ-REITORIA DE ASSUNTOS ESTUDANTIS                    7779.30         4045.00
PRÓ-REITORIA DE EXTENSÃO UNIVERSITÁRIA                13172.94         4698.46
SECRETARIA DE EDUCAÇÃO A DISTÂNCIA                    10296.64         5174.00
SUPERINTENDENCIA DE COMUNICACAO                        6352.00         5471.90
SUPERINTENDÊNCIA DE INFORMÁTICA                       18239.98         7750.00
SUPERINTENDÊNCIA DE INFRAESTRUTURA                   196738.53       178529.62

In [43]:
# Como mostrar média de valor de PEÇAS E SERVIÇOS POR OFICINA?
media_por_oficina_df = finalizadas_df[['ValorPecas', 'ValorMaoDeObra','Oficina']].groupby(by='Oficina').mean().round(2)
display(media_por_oficina_df)

                                       ValorPecas  ValorMaoDeObra
Oficina
AUTO ELETRONICA                              0.00         3156.25
AUTO ELÉTRICA FELIPECAS                    859.72          592.54
AUTO MAIS PARABRISAS                      3850.00           50.00
AUTO SERVICO CLINICA DO CARRO              214.00            0.00
AUTOGLASS                                 1150.00            0.00
BORRACHARIA E VULCANIZADORA DO NEY          55.48          120.95
C E A AUTO CENTER                         3023.64          547.06
CASA DAS MOTOCICLETAS                      546.48          159.00
CENTER CAR RN                              614.26          300.00
CENTRAL AUTO PEÇAS                        1142.08            0.00
CENTRAL DIESEL                            2264.87         1085.53
CENTRAL DO ALINHAMENTO                       0.00          205.67
Cyro Cavalcanti                           1335.38          139.62
DIESEL CENTER                             4487.37          333.33
EDINHO E BORRACHA E PARA BRISA EIRELI     1068.89            0.00
ESFRIAR CAR                                509.03          376.09
FABIO DIRECAO HIDRAULICA                  1244.00         1275.24
GOTEMBURGO VEICULOS LTDA                  2413.46          288.91
GUARAUTO                                   653.38            0.00
HC PNEUS NATAL                            1075.82          123.77
I9 SERVIÇOS                                  0.00         1666.67
JANSSEN MOTOS                              284.31           69.78
KAKA SCAP                                  450.00          129.47
LIMPAUTO NATAL                             505.48          535.24
LOJA DO CAMINHAO                             0.00          580.00
LOJAO DAS PECAS                           3548.67          655.00
MOTOCICLO BRASIL                           413.20          100.00
NATAL PNEUS MATRIZ                        2184.50           76.00
OFICINA SAO JORGE                          140.00           23.33
OLINDA PNEUS                                 0.00           69.00
PAIZAO ACESSORIOS                          367.80          103.67
POTIGUAR PECAS E SERVICOS HIDRAULICOS      805.60          512.00
POTIGUAR TRATORES                          212.50         2511.50
QUALY TRUCK FILIAL                        1638.04          702.27
R 8 AUTO CENTER                              0.00         3500.00
R E T SERVICOS AUTOMOTIVOS                1029.94         1343.76
R7 DIESEL PECAS E SERVICOS                 251.99         1570.48
ROLTEC TACOGRAFOS                           90.86          445.53
SO ONIBUS                                 1177.28         4743.00
SOTREQ                                    2133.33            0.00
TDR CENTRO AUTOMOTIVO DE PECAS            1314.14          352.01
TOP PECAS                                  359.43          100.00
TROKAUTO PECAS E SERVICOS                 1136.83           43.33
UNIDAS VEICULOS                           4217.02          199.60

In [50]:
#Quero adicionar uma coluna de valor booleano em finalizadas_df
# chamada "Veículo consertado" que, por padrão, vai ser True para 
# TODAS as linhas
finalizadas_df['Veículo consertado'] = True 
print(finalizadas_df.info())
display(finalizadas_df.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1165 entries, 0 to 9842
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ordem de Servico    1165 non-null   float64
 1   Cidade              1165 non-null   object
 2   Unidade             1165 non-null   object
 3   Oficina             1165 non-null   object
 4   Situacao            1165 non-null   object
 5   ValorPecas          1165 non-null   float64
 6   ValorMaoDeObra      1165 non-null   float64
 7   Veículo consertado  1165 non-null   bool
dtypes: bool(1), float64(3), object(4)
memory usage: 74.0+ KB
None

<ipython-input-50-edc771e4bf4e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalizadas_df['Veículo consertado'] = True

,Ordem de Servico,Cidade,Unidade,Oficina,Situacao,ValorPecas,ValorMaoDeObra,Veículo consertado
0,4554.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,LIMPAUTO NATAL,FINALIZADA,47.15,35.0,True
4,5355.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,R E T SERVICOS AUTOMOTIVOS,FINALIZADA,415.41,180.0,True
7,5613.0,NATAL,CENTRO DE CIÊNCIAS DA SAÚDE,LIMPAUTO NATAL,FINALIZADA,340.00,0.0,True
11,4920.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",TDR CENTRO AUTOMOTIVO DE PECAS,FINALIZADA,62.00,150.0,True
14,5138.0,NATAL,"CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES",LIMPAUTO NATAL,FINALIZADA,0.00,400.0,True

In [56]:
total_pecas = finalizadas_df['ValorPecas'].sum()
print(f'O total de gasto com peças foi de {total_pecas:.2f}')
total_pecas = finalizadas_df['ValorMaoDeObra'].sum()
print(f'O total de gasto com serviços foi de {total_pecas:.2f}')

O total de gasto com peças foi de 986256.72
O total de gasto com serviços foi de 742859.41

In [51]:
# Exportar para Excel o dataframe com etanol em Indaiatuba....
finalizadas_df.to_excel('finalizadas.xlsx', sheet_name='Notas finalizadas', index='FALSE')